<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="logPattern" value="%blue(%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Kolkata}) [%thread] %red(%-5level)
    %cyan(%logger{36}) - %yellow(%msg%n)" />
    <property name="logFileName" value="path" />  <!--Your Path to save log file -->

 <!--   <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
        <file>${logFileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            //daily rollover
            <fileNamePattern>${logFileName}-%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>7</maxHistory>  //Number of log files to retain
        </rollingPolicy>
    </appender> -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    <!--    <appender-ref ref="ROLLING-FILE" /> -->
    </root>
</configuration>