.successMsg {
  color: green;
  font-size: 20px;
}

.successMsgContainer {
  display: none;
}

.successMsgContainer.active {
  display: block;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  justify-content: space-between;
  height: 100vh;
}

.registerHeading {
  padding: 20px;
  font-size: 32px;
  font-weight: 650;
  margin: 0 auto;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.registerForm input {
  margin-bottom: 22px;
  height: 50px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
}

.registerButton {
  border: 0px;
  background-color: rgb(198, 13, 13);
  height: 50px;
  color: white;
  border-radius: 5px;
  width: 300px;
}

.passwordContainer,
.confirmPasswordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.password,
.confirmPassword {
  height: 50px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 50px;
}

.passwordToggle,
.confirmPasswordToggle {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.confirmPasswordContainer {
  margin-bottom: 0px;
}

.confirmPasswordContainerMargin {
  margin-bottom: 30px;
}

.tPContainer {
  margin-bottom: -7px;
  color: grey;
}

.tPContainer a {
  text-decoration: none;
  color: rgb(198, 13, 13);
}

.loginContainer {
  margin: 25px 0px;
}

.loginContainer a {
  text-decoration: none;
  color: rgb(198, 13, 13);
}

.errorMessageContainer {
  width: 100%;
  justify-content: start;
  color: red;
  margin: 10px 0 30px 0;
  display: none;
}

.errorMessageContainer.active {
  display: flex;
}

.errorMessageContainer h6 {
  font-size: 13px;
}

.errorMessageContainer img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

@media (max-width: 400px) {
  .registerForm,
  .registerForm input,
  .passwordContainer,
  .confirmPasswordContainer,
  .registerButton {
    width: 100%;
  }

  .loginContainer,
  .tPContainer {
    font-size: 14px;
  }

  .registerForm {
    margin-bottom: 30px;
  }

  .registerHeading {
    font-size: 8.4vw;
  }
}
