* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blackIcon {
  height: 55px;
  width: 155px;
}

.blackText div a {
  color: black;
}

.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  height: 10vh;
}

.headerList div a {
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.headerList div a:hover {
  text-decoration: 2px underline;
}

.toggleMenu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.toggleMenu span {
  width: 35px;
  height: 4px;
}

.blackText span {
  background-color: black;
}

.toggleMenuOne {
  margin-bottom: 5px;
}

.navbarMenu {
  position: absolute;
  background-color: #2d2d2d;
  height: 50vh;
  width: 100vw;
  z-index: 1;
  right: 0px;
  top: 0px;
  display: none;
}

.navbarMenu.active {
  display: block;
}

.navbar {
  height: 100%;
  width: 100%;
  font-size: 10vw;
}

.navbar div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar div a {
  text-decoration: none;
  margin: 10px;
  color: white;
}

@media (max-width: 450px) {
  .displayNone {
    display: none;
  }

  .toggleMenu {
    display: flex;
  }
}

@media (max-width: 350px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .toggleMenu span {
    width: 28px;
    height: 3px;
  }
}
