* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  display: flex;
  margin: 0px 20px;
  color: rgb(198, 13, 13);
  height: 90vh;
}

.landingWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
}

.landingHeading {
  font-size: 80px;
}

.landingPara {
  margin-top: 20px;
  font-size: 30px;
}

.landingImage {
  margin: 20px;
  width: 50%;
}

@media (max-width: 1185px) {
  .landing {
    flex-direction: column;
    margin: 0px 40px 0 40px;
    justify-content: space-between;
  }

  .landingWrapper {
    width: 100%;
    align-self: center;
    height: 60%;
    padding-top: 40px;
    /* margin-bottom: 0px; */
  }

  /* .landingHeading {
    font-size: 7vw;
  }

  .landingPara {
    font-size: 2.5vw;
  } */

  .landingImage {
    /* margin-top: 0px; */
    width: 80%;
    align-self: center;
    height: 40%;
  }
}

@media (max-width: 917px) {
  .landingHeading {
    font-size: 7vw;
  }

  .landingPara {
    font-size: 4vw;
  }

  .landingImage {
    width: 100%;
  }
}
